page-request {
    ion-card{
        ion-card-content{
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            ion-card-title{
                font-weight: bold;
                letter-spacing: 2px;
                color: rgba(0, 0, 0, 0.65) !important;
            }
            ion-list{
                ion-item{
                    padding: 0px !important;
                    border: none !important;
                    .item-inner{
                        padding: 0px !important;
                        ion-label{
                            white-space: normal;
                            font-weight: bold;
                            letter-spacing: 1px;
                            margin: 0px !important;
                            font-size: 14px;
                            color: #3ac5b9;
                            ion-note{
                                font-weight: normal;
                                color:#88878a;
                            }
                            span{
                                width:40%;
                                float:left;
                            }
                        }
                    }
                    button{
                            height: 30px;
                            width: 48%;
                            float: left;
                    }
                }
                
                .btns {
                    border-top: 1px solid #dadada;
                    button {
                        padding:  0;
                        margin:  0;
                        width: 50%;
                        float: left;
                        color: #6b6a6a;
                        font-size: 15px;
                        &:active{
                            color:#3ac5b9;
                        }
                    }
                }


                
            }
        }
    }
}
