page-searchitinerary {
    .location_sec{
        h5{
            font-size:16px;
            font-weight:bold;
            color:#4d4c5e;
            text-align:center;
            margin-bottom:15px;
        }
        ion-list{
            ion-item{
                border:1px solid #c8c7cc;
                .item-inner{
                    .input-wrapper{
                        ion-label{
                            width:auto;
                            min-width:auto;
                            margin-right:0px;
                            white-space:normal;
                        }
                        ion-input{
                            input{
                                margin-right:0px;
                                margin-left:0px;
                            }
                        }
                    }
                }
            }
        }
    }

  .loc{
      .segment-button {
        color: #444;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid transparent;
        border-radius: 0px !important;
    }

  .segment-button.segment-activated {
        color: #22c4b9;
        background-color: transparent;
        border-color: #22c4b9;
    }
    .segment-button:hover:not(.segment-activated) {
            background-color: rgba(34, 196, 185, 0.1);
    }

    .list{margin-top: 20px;
        ion-avatar{margin-top: 11px;}
        .item{
            align-items: start;
            &:first-child{border-top:0px;}
            h2{
                font-size: 15px;
                font-weight: 600;
                color: #22c4b9;
            }
            p{
                white-space: normal;
                font-size: 12px;
                margin: 0;
                color: #444;
            }
            span {
                white-space: normal;
                font-size: 11px;
                font-style: italic;
                color: #444;
            }
        }
    }
}

}
