<ion-header>
    <ion-toolbar color="theme">
        <ion-buttons start (click)="back()">
      <button ion-button icon-only >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
      <ion-title class="header_title" color="text">Travel Community</ion-title>
    </ion-toolbar>
  </ion-header>
  


<ion-content padding>
    <div class="location_sec">
	<h5>Search</h5>
				<!--<ion-list>
					<ion-item>
						<ion-label fixed>  <ion-icon ios="ios-locate" md="md-locate"></ion-icon></ion-label>
						<ion-input type="text" value=""></ion-input>
					</ion-item>
				</ion-list>-->
                                <div *ngIf="chose == 'location'">
                                   <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" 
                                        (ionCancel)="dismiss()" placeholder="Start typing and select ..."></ion-searchbar>
                                            <ion-list>
                                                <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
                                                    {{item.description}}
                                                </ion-item>
                                            </ion-list>   
                                </div>   
                                <div *ngIf="chose == 'acc'">
                                    <ion-searchbar [(ngModel)]="data.people" [showCancelButton]="true" (ionInput)="userListing(data.people)" 
                                        (ionCancel)="dismiss()" placeholder="Start typing and select ..."></ion-searchbar>
                                            <ion-list>
                                                <ion-item *ngFor="let u of users" (click)="userSearch(u.User.name)">
                                                    <ion-avatar item-start>                
                                                        <img *ngIf="u.User.image" src="{{u.User.image}}">
                                                        <img *ngIf="!u.User.image" src="assets/imgs/user.png">
                                                      </ion-avatar>
                                                    {{u.User.name}}
                                                </ion-item>
                                            </ion-list>                                     
                                </div> 
            
      </div>
      
      <div class="loc">
          <ion-segment name="searchh" id="searchh" [(ngModel)]="data.searchh" (ionChange)="choose($event)">
            <ion-segment-button value="location">
              Location
            </ion-segment-button>
            <ion-segment-button value="acc">
              People
            </ion-segment-button>
          </ion-segment>
       
        <div [ngSwitch]="pet">
          <ion-list *ngSwitchCase="'location'">
              
            <ion-item *ngFor="let us of u_acc_loc">
              <ion-avatar item-start>                
                <img *ngIf="us.User.image" src="{{us.User.image}}">
                <img *ngIf="!us.User.image" src="assets/imgs/user.png">
              </ion-avatar>
              <h2>{{us.User.name}}</h2>
                <div *ngFor="let at of us.Event">
              <p *ngIf="us.Event.length <= 1">{{at.title}} </p>
              <p *ngIf="us.Event.length > 1">{{at.title}}, </p>
              </div>
              <span>Traveled to {{us.Trip.end_location}}: {{us.Trip.trip_startdate| date: 'MMM yyyy'}}</span>
            </ion-item>
              
<!--              <ion-item>
              <ion-avatar item-start>
                <img src="assets/imgs/getstartback.jpeg">
              </ion-avatar>
              <h2>Cher</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
              <span>Traveled to sao paulo: Feb 2017</span>
            </ion-item>-->
         
          </ion-list>
        
          <ion-list *ngSwitchCase="'acc'">              
            <ion-item *ngFor="let usr of u_acc_name">
                
                <ion-avatar item-start>
                    <img *ngIf="usr.User.image" src="{{usr.User.image}}">
                <img *ngIf="!usr.User.image" src="assets/imgs/user.png">
                  </ion-avatar>
              <h2>{{usr.User.name}}</h2>
                <div *ngFor="let tr of usr.Trips">              
              <p *ngIf="usr.Trips.length <= 1">| {{tr.end_location}} |</p>
              <p *ngIf="usr.Trips.length > 1">{{tr.end_location}} | </p>
              </div>
            </ion-item>
      
          </ion-list>
        </div>

      </div>

</ion-content>
