page-liked {
    .middle {
        width:  100%;
        float:  left;

    .half {
        width: 33%;
        float: left;
        position:  relative;
        height: 100px;
        overflow: hidden;
        margin-right: 1px;
        margin-bottom: 1px;
    
    
    img {
        position:  absolute;
        top: 0;
        right:  0;
        left:  0;
        bottom:  0;
        margin:  auto;
        height: 100%;
        width: 100%;
    }

    .icon{
        position: absolute;
        top: 5px;
        right:5px;
        color:#fff;
        font-size: 18px;
    }
}

}
}
