page-booking {
    .page_wrapper{
        .top_segment-sec{
            ion-segment{
                ion-segment-button{
                    border:none;
                    border:2px solid #4d4c5e;
                    border-radius:0px !important;
                    font-size:16px;
                    color:#4d4c5e;
                    letter-spacing:1px;
                    line-height:27px;
                }
                ion-segment-button.segment-button.segment-activated{
                    background:none;
                    background-color:#4d4c5e;
                }
            }
        }
       
.bw{
    padding: 0;
    .icon {
        margin-right: 8px;
        margin-left: 8px;
    }
    .item-inner {
        border-left: 1px solid #ccc !important;
        padding-left: 8px;
        margin: 14px 0;
            .label{margin:0px;}
        
            h3{
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 10px;
                white-space: normal;
                sub{
                    font-weight: 400;
                    bottom: 0px;
                    font-size: 10px;
                }
            }
            h2 {
                font-weight: 500;
                font-size: 11px;
            }
            p{
                font-size: 10px;
            }
        }
}

.bwb{
    .item-inner{
        border: 0px !important;
    .label{
        white-space: normal;
        width: 100%;
        float: left;
        .plane{
            width: 32%;
            float: left;
            text-align: center;
        .icon{
            margin:0;
        }
        }
        .hotel{
            width: 68%;
            float: left;
            border-left: 1px solid #ccc;
            padding-left: 8px;
        
    }
}
}

}

.city{
    .label{
        h3{
            margin: 0px;
        }
        span{
            font-size: 10px;
            vertical-align: top;
            white-space: normal;
        }
    }
}

.card{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);}

}
}
