page-viewactivities {
 
   
$read-more-settings: (
  'rows': 3,
  'font-size': 16px,
  'line-height': 1.4,
  'duration': 500ms,
  'easing': ease,
  'text-color': #34495e,
  'trigger-color': #2980b9,
  'bg-color': white,
);

// Optimal height based on your font size and line-height
$read-more-height: map-get($read-more-settings, 'font-size') * map-get($read-more-settings, 'line-height') * (map-get($read-more-settings, 'rows') + 1); // + 1 for read-more
    
    .filter{
        float: left;
        width: 100%;
        padding: 0 16px;
        margin-bottom: 10px;
        .item-inner{
            padding: 0 !important;
            border: 0px !important;
            .label{
                span{
                    background: #22c4b9;
                    color: #fff;
                    padding: 3px 13px;
                    font-size: 14px;
                    display: inline-block;
                }
            }
            button{padding: 0 ;width:auto;}
            .select {
                font-size: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 3px 6px 0;
          
           .select-icon {
               .select-icon-inner {margin-top: -4px;}
             }
        }
    
        }
    }

.waterfall {
    box-shadow: 0px 2px 6px #ccc;
    margin: 8px;
    width: calc(100% - 16px);
    .item{
        align-items: start;
        padding: 0;
    ion-avatar {
        margin: 8px 6px !important;}
    .item-inner {
        padding: 0 !important;
        .label{
            font-family: "Roboto";
            border-right: 1px dotted #ccc;
            h2{
                font-size: 14px;
                font-weight: 500;
                white-space: normal;
            }
            p{
                font-size: 12px;
                font-weight: 400;
                font-style: italic;
                color: #7d7d7d;
                margin: 0;
            }

            span{
                @extend p;
                font-style: normal;
            }

            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    font-size: 10px;
                    display: inline-block;
                    color: #22c4b9;
                }
            }
        }
        .note {
            align-self: center;
            align-self: center;
            text-align: center;
            font-weight: 600;
            color: #000;
            font-family: "Roboto";
            font-size: 18px;
            margin: 0px;
            span{
                font-weight: 300;
                font-weight: 400;
                font-size: 12px;
                float: left;
                width: 100%;
            }
        }
    }
}
}

.read-more {
  position: relative;
  color: map-get($read-more-settings, 'text-color');
  text-decoration: none;
  cursor: text;
  margin-bottom: 10px;
  .trigger {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #86cfeb;
    font-weight: bold;
    left: 8px;
    &::before {
      content: attr(data-read-more);
    } 
  }
  .content {
    position: relative;
    overflow: hidden;
    max-height: $read-more-height;
    -webkit-transition: max-height map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
    transition: max-height map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
    width:100%;
    &::before {
      content: '';
      -webkit-transition: opactiy map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing'), visibility map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
      transition: opactiy map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing'), visibility map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
      background-image: -webkit-linear-gradient(rgba(0,0,0,0), map-get($read-more-settings, 'bg-color'), map-get($read-more-settings, 'bg-color'));
      background-image: linear-gradient(rgba(0,0,0,0), map-get($read-more-settings, 'bg-color'), map-get($read-more-settings, 'bg-color'));
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $read-more-height / 2;
    }
    h3{
    margin: 8px 0;
    white-space: normal;
    padding: 0 5px 0 0px;
    font-size: 13px;
    }
  }
  &.expanded {
    .content {
      max-height: 600px; // great value for height animation
    }
    .content::before {
      opacity: 0;
      visibility: hidden;
    }
    .trigger {
      position: relative;
      &::before {
        content: attr(data-read-less);
      } 
    }
  }
}

}
