<ion-header>
  <ion-toolbar color="theme">
    <ion-buttons start (click)="back()">
      <button ion-button icon-only >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header_title" color="text">Hotel</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="hotel_detail">
  <ion-list>
      <ion-item-divider color="light">Room Details</ion-item-divider>
    <ion-item>
        Hotel name
      <ion-note item-end="" class="note">{{hdetail.detail.name}}</ion-note>
    </ion-item>
      <div *ngFor="let room of hdetail.detail.rooms; let i=index">
          <span class="green">Room {{i+1}}</span>
    <ion-item>
        Room name
      <ion-note item-end="" class="note">{{room.roomname}}</ion-note>
    </ion-item>
    <ion-item>
        No of adult
      <ion-note item-end="" class="note">{{room.adultCount}}</ion-note>
    </ion-item>
    <ion-item>
        No of children
      <ion-note item-end="" class="note">{{room.childCount}}</ion-note>
    </ion-item>
      </div>
    <ion-item>
        Amount
      <ion-note item-end="" class="note">{{hdetail.detail.totalprice}}</ion-note>
    </ion-item>
    <ion-item>
        Check-in-date
      <ion-note item-end="" class="note">{{hdetail.detail.checkIn  | date: 'MMM d, yyyy'}}</ion-note>
    </ion-item>
    <ion-item>
        Check-out-date
      <ion-note item-end="" class="note">{{hdetail.detail.checkOut  | date: 'MMM d, yyyy'}}</ion-note>
    </ion-item>

    <ion-item-divider color="light">Lead Passenger Details</ion-item-divider>
    <form #lastForm="ngForm">
    <ion-item>
        <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="data.name" id="name" #name="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
        
    </ion-item>
        <ion-label class="alert alert-danger" color="danger">
                                            <div *ngIf="name.errors && (name.dirty || name.touched)">
                                              <div [hidden]="!name.errors.required">
                                                Name is required
                                              </div>
                                              <div [hidden]="!name.errors.pattern">
                                                Only alphabets are allowed
                                              </div>
                                            </div>
                                          </ion-label>
    <ion-item>
        <ion-input type="text" placeholder="Surname" name="surname" [(ngModel)]="data.surname" id="surname" #surname="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
    </ion-item>
        <ion-label class="alert alert-danger" color="danger">
                                            <div *ngIf="surname.errors && (surname.dirty || surname.touched)">
                                              <div [hidden]="!surname.errors.required">
                                                Surname is required
                                              </div>
                                              <div [hidden]="!surname.errors.pattern">
                                                Only alphabets are allowed
                                              </div>
                                            </div>
                                          </ion-label>
    <ion-item>
        <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="data.email" id="email" #email="ngModel" pattern='^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$' required></ion-input>
    </ion-item>
        <ion-label class="alert alert-danger" color="danger">
         <div *ngIf="email.errors && (email.dirty || email.touched)">
                                              
           <div [hidden]="!email.errors.required">
             Email is required
          </div>
      <div [hidden]="!email.errors.pattern">
          In-valid email
    </div>
     </div>                                            
    </ion-label>
        
        <ion-item>
            <ion-select name="pcountry" placeholder="Select Country" [(ngModel)]="data.scountry" (ionChange)="scountrySelect($event)" required>
                <ion-option *ngFor="let cn of countries" value="{{cn.Country.name}}">{{cn.Country.name}}</ion-option>                    
            </ion-select>
        </ion-item>
        
        
    <ion-item>
        <!--<ion-input type="text" placeholder="Country code" name="countrycode" [(ngModel)]="data.countrycode" id="countrycode" #countrycode="ngModel" required></ion-input>-->
        <ion-select name="countrycode" placeholder="Select Country code" [(ngModel)]="data.countrycode" (ionChange)="codeSelect($event)" required>
                <ion-option *ngFor="let cd of codes" value="{{cd.Phonecode.phonecode}}">{{cd.Phonecode.phonecode}} ({{cd.Phonecode.nicename}})</ion-option>                    
        </ion-select>
    </ion-item>
        
<!--    <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="countrycode.errors && (countrycode.dirty || countrycode.touched)">
						<div [hidden]="!countrycode.errors.required">
							Country code is required
						</div>						
					</div>
				</ion-label>-->
        
    <ion-item>
        <ion-input type="tel" placeholder="Phone number" name="contact" [(ngModel)]="data.contact" id="contact" #contact="ngModel" pattern='[0-9]+' minlength="10" maxlength="10" required></ion-input>
    </ion-item>
        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="contact.errors && (contact.dirty || contact.touched)">
						<div [hidden]="!contact.errors.required">
							Contact Number is required
						</div>
						<div [hidden]="!contact.errors.pattern">
							Invalid Format
						</div>
						<div [hidden]="!contact.errors.maxlength">
							Maximum 10 number
						</div>
						<div [hidden]="!contact.errors.minlength">
							Minimum 10 number
						</div>
					</div>
				</ion-label>

    <ion-item-divider color="light">Other Passenger Details</ion-item-divider>
    <div *ngFor="let room of rooms_data; let i=index">
        <span style="padding: 0 8px;" class="green">Room {{i+1}}</span>
        <div *ngIf="room.passengerDetails.length != '0'">
            <div *ngFor="let pass_detail of room.passengerDetails; let j= index">
                <div *ngIf="room.passengerDetails[j].type=='AD'">
                    <span style="padding: 0 8px;" class="green">Details of Adult {{room.passengerDetails[j].count}}</span>
                    <ion-list class="extras">
                    <ion-item>                       
                                                
                        <ion-input type="number" placeholder="Age" name="age{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].age" id="age" #age="ngModel" required></ion-input>
                    
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="age.errors && (age.dirty || age.touched)">
						<div [hidden]="!age.errors.required">
							Age is required
						</div>
						<div [hidden]="!age.errors.type">
							Invalid Format
						</div>						
					</div>
				</ion-label>-->
                        </ion-item>
                        <ion-item> 
                        
                        <ion-select name="title{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].title" id="title" #title="ngModel" placeholder="Title" required>
                        <ion-option value="Mr." selected="true">Mr.</ion-option>
                        <ion-option value="Mrs.">Mrs.</ion-option>
                        </ion-select>
                        
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="title.errors && (title.dirty || title.touched)">
						<div [hidden]="!title.errors.required">
							Title is required
						</div>                                            
					</div>
				</ion-label>-->
                        </ion-item>
                    <ion-item> 
                        <ion-input type="text" placeholder="Name" name="name{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].name" id="name" #name="ngModel" pattern="[a-zA-Z ]+" required></ion-input>                        
                   
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="name.errors && (name.dirty || name.touched)">
						
                                            <div [hidden]="!name.errors.pattern">
                                                Only alphabets are allowed
                                              </div>
					</div>
				</ion-label>-->
                         </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Surname" name="surname{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].surname" id="surname" #surname="ngModel" pattern="[a-zA-Z ]+" required></ion-input>
                       
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="surname.errors && (surname.dirty || surname.touched)">
						
                                            <div [hidden]="!surname.errors.pattern">
                                                Only alphabets are allowed
                                              </div>
					</div>
				</ion-label>-->
                         </ion-item> 
                    </ion-list>
                </div>
                
                
                
                <div *ngIf="room.passengerDetails[j].type=='CH'">
                    <span style="padding: 0 8px;" class="green"> Details of Child {{room.passengerDetails[j].count}}</span>  
                    <ion-list class="extras">
                    <ion-item>                        
                                             
                        <ion-input type="number" placeholder="Age" name="age{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].age" id="age" #age="ngModel" required></ion-input>
                        <!--<ion-input type="text" placeholder="Title" name="title{{j}}" [(ngModel)]="rooms_data[i].passenger_details[j].title" id="title" #title="ngModel" required></ion-input> -->
                    
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="age.errors && (age.dirty || age.touched)">
						<div [hidden]="!age.errors.required">
							Age is required
						</div>
						<div [hidden]="!age.errors.type">
							Invalid Format
						</div>						
					</div>
				</ion-label>-->
                        </ion-item>
                    <ion-item>          
                        <ion-select name="title{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].title" id="title" #title="ngModel" placeholder="Title" required>
                        <ion-option value="Mstr." selected="true">Mstr.</ion-option>
                        <ion-option value="Ms.">Ms.</ion-option>
                        </ion-select>
                        
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="title.errors && (title.dirty || title.touched)">
						<div [hidden]="!title.errors.required">
							Title is required
						</div>                                            
					</div>
				</ion-label>-->
                        </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Name" name="name{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].name" id="name" #name="ngModel" required></ion-input>                        
                    
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="name.errors && (name.dirty || name.touched)">
						
                                            <div [hidden]="!name.errors.pattern">
                                                Only alphabets are allowed
                                              </div>
					</div>
				</ion-label>-->
                        </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Surname" name="surname{{j}}" [(ngModel)]="rooms_data[i].passengerDetails[j].surname" id="surname" #surname="ngModel" required></ion-input>
                         
<!--                        <ion-label class="alert alert-danger" color="danger">

					<div *ngIf="surname.errors && (surname.dirty || surname.touched)">
						
                                            <div [hidden]="!surname.errors.pattern">
                                                Only alphabets are allowed
                                              </div>
					</div>
				</ion-label>-->
                        </ion-item>
                    </ion-list>
                </div>
                
            </div>
             
            
            
            
<!--            <div *ngFor="let count of counter[i]; let j=index">
            <h6>Type {{j}}</h6>
    <ion-item>        
        <ion-select name="type" [(ngModel)]="data.adults[i][j].type" (ionChange)="typeSelect($event)">
                    <ion-option value="AD" selected="true">Adult</ion-option>                    
        </ion-select>
    </ion-item>
            <ion-item>
        <ion-input type="text" placeholder="Age" name="age" [(ngModel)]="data.adults[i][j].age" id="age" #age="ngModel" required></ion-input>
    </ion-item>
    <h6>Title</h6>
    <ion-item>        
        <ion-select name="title" [(ngModel)]="data.adults[i][j].title" (ionChange)="titleSelect($event)">
                    <ion-option value="Mr." selected="true">Mr.</ion-option>
                    <ion-option value="Mrs.">Mrs.</ion-option>
        </ion-select>
    </ion-item>    
    <ion-item>
        <ion-input type="text" placeholder="Name" name="pname" [(ngModel)]="data.adults[i][j].pname" id="pname" #pname="ngModel" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Surname" name="spname" [(ngModel)]="data.adults[i][j].spname" id="spname" #spname="ngModel" required></ion-input>
    </ion-item>
        </div>-->
        </div>
        
        
    
    
    </div>
    <button color="theme" ion-button class="search" (click)="bookHotel(lastForm)" [disabled]="!lastForm.form.valid">Book</button>
    <!--<button color="theme" ion-button (click)="book()">here</button>-->
    </form>
  </ion-list>
</ion-content>
