page-addevent {

.add_event{
    .slt{
        margin-bottom: 8px;
        .item{
            border: 1px solid #ccc;
            min-height: 30px;
            .item-inner{
                .select{
                    max-width: 100%;
                    width: 100%;
                    padding: 0px 8px;
                    font-size: 12px;
                    line-height: 30px;
                    .select-icon {
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .inpt{
        margin-bottom: 8px;
        .item{
            padding-left:0px;
            .item-inner{
                border-bottom: 0px;
                padding-right:0px;
                .input{
                    .text-input{
                        border: 1px solid #ccc;
                        padding: 4px 8px;
                        width: 100%;
                        margin-right: 0px;
                    }
                }
                
                ion-select{
                        max-width: 100%;
                        width: 100%;
                        border: 1px solid #ccc;
                        font-size: 12px;
                        padding: 6px 16px 6px 8px;
                        }
            }
            &:first-child{border: 0px;}
            &:last-child{border: 0px;}
        }
        
        .label{
                margin-bottom: 0;
                font-size: 12px;
        }
    }

    .date_sec{
        float: left;
        width: 100%;
        ion-list{
            float: left;
            width: 100%;
            margin-bottom: 0px;
            ion-item{
                width:49%;
                float:left;
                &:first-child{
                    border:none;
                }
                &:nth-child(2){
                    float:right;
                }
                &:nth-child(3){
                    width:100%;
                    border:0px;
                    margin-top: 16px;
                    ion-textarea{
                        border: 1px solid #ccc;
                        resize: horizontal !important;
                        font-size: 12px;
                        min-height: 90px;
                        margin-top: 8px;
                    }
                }
                &:nth-child(4){
                        border:0px;
                        width:100%;
                        label{
                            margin: 0;
                        }
                        button{
                            color:#22c4b9;
                            background: #fff;
                            padding: 0;
                    
                    }
                   
                }
                .item-inner{
                    border: 0px;
                    .input-wrapper{
                        ion-label{
                            width:auto;
                            min-width:auto;
                            margin-right:0px;
                            ion-icon{
                                color:#22c4b9;
                            }
                        }
                        ion-datetime{
                            width: 100%;
                            padding: 0;
                            color: #22c4b9;
                            border: 1px solid #ccc;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
        #file-input {
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            z-index: 999;
          }
    }


.gallery{
    width: 100%;
    float: left;
    ul{
        padding: 0px;
        margin: 0px;
        li{
            width: 33.3%;
            display: inline-block;
            position: relative;
            height: 60px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
            }
            .icon{
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
            }
        }
    }
}














}

}
