<ion-header hidden>
  <ion-navbar color="theme">
    <ion-title class="header_title" color="text">Get Started</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="page_wrapper">
		<div class="logo_sec">
			<img src="assets/imgs/logo.png" >
		</div>
		<div class="form_sec">
			<form #signin="ngForm">
				<ion-list>
					<ion-item>
						<ion-label fixed><ion-icon ios="ios-person-outline" md="md-person"></ion-icon></ion-label>
						<ion-input type="email" name="email" [(ngModel)]="data.email" id="email" #email="ngModel" pattern='^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$' placeholder="Email" required></ion-input>
					</ion-item>
                                        <ion-label class="alert alert-danger" color="danger">
                                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                              
                                              <div [hidden]="!email.errors.required">
                                                Email is required
                                              </div>
                                              <div [hidden]="!email.errors.pattern">
                                                In-valid email
                                              </div>
                                            </div>
                                            <!--<div *ngIf="!email.errors && (!email.dirty || !email.touched)">
                                              <img class="tick" item-right src="assets/imgs/tickryt.png">
                                            </div>-->
                                        </ion-label>
					<ion-item>
						<ion-label fixed><ion-icon ios="ios-lock-outline" md="md-lock"></ion-icon></ion-label>
						<ion-input type="{{type}}" name="password" [(ngModel)]="data.password" id="password" #password="ngModel" minlength="8" placeholder="Password" required></ion-input>
						<button *ngIf="!showPass" ion-button clear color="light" type="button" item-right (click)="showPassword()"> 
							<ion-icon name="eye" name="eye"></ion-icon>
							</button>
				<button *ngIf="showPass" ion-button clear color="light" type="button" item-right (click)="showPassword()"> 
					<ion-icon name="eye-off"></ion-icon>
					</button>						
					</ion-item>
					
                                    <ion-label class="alert alert-danger" color="danger">
                                            <div *ngIf="password.errors && (password.dirty || password.touched)">
                                              
                                              <div [hidden]="!password.errors.required">
                                                Password is required
                                              </div>
                                              <div [hidden]="!password.errors.minlength">
                                                <h6 style="font-size : 12px;"> Password Minlength 8 Character </h6>
                                              </div>
                                            </div>
                                            
                                          </ion-label>
				</ion-list>
				<div class="btn_sec">
					<button ion-button color="theme" round (click)="signIn(signin)" [disabled]="!signin.form.valid">Sign In</button>
				</div>
			</form>
		</div>
		<div class="social_sec">
			<button ion-button class="fb-btn" block (click)="faceBook()"><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon> Log in with facebook</button>
			<button ion-button class="gm-btn" block (click)="gooGle()"><ion-icon ios="logo-googleplus" md="logo-googleplus"></ion-icon> Log in with Gmail</button>
		</div>
		<div class="forgot">
			<button ion-button clear (click)="openforgotPage()">Forgot Password?</button>
			<p>Not registered? <button ion-button clear (click)="signUp()">Sign Up</button></p>
		</div>
		
	</div>
</ion-content>
