page-reviewbooking {

.sum{
    float: left;
    width: 100%;
    font-family: "Roboto";
    margin-top: 15px;
    padding-left: 8px;

    h2{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #444;
        text-transform: capitalize;
    }

    h1 {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        color: #525252;
    }

    span{
        font-size: 12px;
        sup{
            float: left;
            width: 100%;
            position: static;
            line-height: normal;
            padding-left: 5px;
        }
    }
}

.depart {
    margin-top: 20px;
    float: left;
    font-family: "Roboto";
    box-shadow: 0 0 10px #ccc;
    .card-header {
        padding: 8px;
        color: #22c4b9;
        font-weight: 600;
        span{
            color: #444;
            font-size: 15px;
            font-weight: 400;
        }
    }

    .card-content{
        padding: 0px 8px 14px;
        .row{
            .col{padding-left: 0;
            font-size: 11px;}
        }
    }

    .btm {
        float:  left;
        width:  100%;
        border-top: 1px solid #a9a7a7;
        margin-top:  8px;
        padding-top: 8px;
        margin-bottom: 8px;
 
        h3 {
                font-weight: 500;
                margin-bottom: 0;
            
        span {
                font-weight: 400;
                padding-left: 8px;
             }
           }
           button{
            height: 20px;
            color: #444;
            font-size: 12px;
            text-decoration: underline;
            margin-right: 8px;
              }
        }  

}

.cont{
    margin: 0 auto 20px;
    width: 80%;
    height: 36px;
    text-transform: uppercase;
    font-family: "Roboto";
}

}
