page-hoteldetail {
    
$read-more-settings: (
  'rows': 3,
  'font-size': 16px,
  'line-height': 1.4,
  'duration': 500ms,
  'easing': ease,
  'text-color': #34495e,
  'trigger-color': #2980b9,
  'bg-color': white,
);

// Optimal height based on your font size and line-height
$read-more-height: map-get($read-more-settings, 'font-size') * map-get($read-more-settings, 'line-height') * (map-get($read-more-settings, 'rows') + 1); // + 1 for read-more
    
    .plane {
        width: 100%;
        float: left;
        margin: 15px 0;
   
    
    .fst {
        width: 30%;
        float: left;
    }
    
    .last {
        width: 30%;
        float: left;
    }
 
    
    .fst h2,.last h2 {
        width: 100%;
        float: left;
        margin: 0;
        font-size: 12px;
        text-align: center;
        padding: 5px 0;
    }
    

    .icon1 {
        width: 40%;
        float: left;
        text-align: center;
        position: relative;
    
      &::before {
            content: '';
            border-bottom: 1px solid #eee;
            height: 0;
            width: 40px;
            position: absolute;
            left: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &::after {
            content: '';
            border-bottom: 1px solid #eee;
            height: 0;
            width: 40px;
            position: absolute;
            right: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .icon-ios.ion-ios-plane {
            font-size: 25px;
        }

 .icon {
        color: #fbb57f;
    }

    
  
}

}


.date {
    width: 100%;
    float: left;
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    font-family: "Roboto";
.icon {
    color: #22c4b9;
}

}

.river {
    float: left;
    width: 100%;
    font-family: "Roboto";
    padding: 0 8px 0 70px;
    position: relative;

 h3 {
    font-size:  14px;
    font-weight:  500;
    white-space:  normal;
    margin: 0;
}

ul {
    padding:  0;
    margin: 3px 0;
    list-style:  none;


 li {
    display:  inline-block !important;
    color: #22c4b9;
    padding: 1px !important;
    
    &:nth-child(6) {
        color: #444 !important;
        padding: 0 12px 0 6px;
    }

   button {
    padding: 0;
    margin: 0;
    height: 17px;
    vertical-align: top;
    }

}

}

 span {
    color: #22c4b9;
    font-size: 12px;
}

    img{
        position: absolute;
        top: 0;
        margin: auto;
        left: 0;
        width: 70px;
        height: 65px;
    }

}

.slide{
    margin-top: 10px;
    float: left;
    width: 100%;
    font-family: "Roboto";
        ion-slides{
        height: 200px;
        overflow: hidden;
        }
      h3{
        margin: 15px 0 5px 0;
        font-weight: 600;
        font-size: 12px;
        padding-left: 8px;
        width: 100%;
        float: left;
    }
    ul{
        padding: 0 0 0 8px;
        margin: 0;
        list-style: none;
        font-weight: 300;
        font-size: 12px;
        float: left;
        width: 100%;

        li {
            padding: 0 0 2px 0;
            float: left;
            width:100%;
            &:last-child(){
                border-bottom: 1px solid #ccc;
                width: 35%;
                padding-bottom: 5px;
            }
        }
    }
    h2 {
        width: 100%;
        float: left;
        margin: 3px 0 3px 8px;
        font-size: 20px;
        color: skyblue;

    }
}

.waterfall {
    box-shadow: 0px 2px 6px #ccc;
    margin: 8px;
    width: calc(100% - 16px);
    float: left;
    .item{
        align-items: start;
        padding: 0;
    ion-avatar {
        margin: 8px 6px !important;}
    .item-inner {
        padding: 0 !important;
        .label{
            font-family: "Roboto";
            border-right: 1px dotted #565656;
            h3{
                font-size: 14px;
                font-weight: 500;
                white-space: normal;
                width: 100%;
                float: none;
                border: 0px;
                margin: 0;
                padding: 0;
            }
            p{
                font-size: 12px;
                font-weight: 400;
                color: #7d7d7d;
                margin: 1px 0;
            }

            button{
                @extend p;
                padding: 0px;
                height: 14px;
                color: #22c4b9;
                vertical-align: top;
            }

        }
        .note {
            align-self: center;
            align-self: center;
            text-align: center;
            font-weight: 600;
            color: #000;
            font-family: "Roboto";
            font-size: 18px;
            margin: 0px;
            span{
                font-weight: 400;
                font-size: 12px;
                float: left;
                width: 100%;
                margin-bottom: 3px;
            }
           button{ display: block;
            margin: auto;
            height: 20px;}
        }
    }
}
}
   



.read-more {
  position: relative;
  color: map-get($read-more-settings, 'text-color');
  text-decoration: none;
  cursor: text;
  margin-bottom: 10px;
  .trigger {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #86cfeb;
    font-weight: bold;
    left: 8px;
    &::before {
      content: attr(data-read-more);
    } 
  }
  .content {
    position: relative;
    overflow: hidden;
    max-height: $read-more-height;
    -webkit-transition: max-height map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
    transition: max-height map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
    width:100%;
    &::before {
      content: '';
      -webkit-transition: opactiy map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing'), visibility map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
      transition: opactiy map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing'), visibility map-get($read-more-settings, 'duration') map-get($read-more-settings, 'easing');
      background-image: -webkit-linear-gradient(rgba(0,0,0,0), map-get($read-more-settings, 'bg-color'), map-get($read-more-settings, 'bg-color'));
      background-image: linear-gradient(rgba(0,0,0,0), map-get($read-more-settings, 'bg-color'), map-get($read-more-settings, 'bg-color'));
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $read-more-height / 2;
    }
    h3{
        margin: 8px 0;
    }
  }
  &.expanded {
    .content {
      max-height: 600px; // great value for height animation
    }
    .content::before {
      opacity: 0;
      visibility: hidden;
    }
    .trigger {
      position: relative;
      &::before {
        content: attr(data-read-less);
      } 
    }
  }
}


}
