page-addtrip {

    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
            width:100%;
            height: 220px;
                button {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 25px;
                    font-weight: 300;
                    font-size: 14px;

                    .icon{padding-right: 5px;}
                    &:first-child{
                        bottom:auto;
                    }
                }
                img{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                }

          }
        
          .card-title {
            position: absolute;
            top: 50%;
            font-size: 20px;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        
          .card-subtitle,   .card-subtitleb {
            font-size: 12px;
            position: absolute;
            top: 63%;
            width: 100%;
            color: #fff;
            font-weight: 400;
        }

          .card-subtitleb{
            top: 43%;
        }
        
        }

.attend {

    .list{
            .item
            {
                ion-avatar{
                margin-top: 6px;  
                }
                .item-inner{
                    border-bottom: 0px;
                }
            }
        }

    .subhead{font-size:14px;font-weight: 600;}

    .itin{
        min-height: 20px;
        border: 0 !important;
        .label {
            margin: 0;
            font-size: 13px;
            font-weight: 600;
            font-family: Roboto;
        }
       .icon {
            font-size: 15px;
            margin: 0 0 0 5px;
            min-height: 0;
           span {
                font-family: Roboto;
            }
        }
    }

    h5{
        margin: 0;
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        button{
            color: #22c4b9;
            background: transparent;
        }
    }
}
ion-footer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 0.55px solid rgba(0, 0, 0, 0.3);
    background: #f8f8f8;
    a{
        max-width: 240px;
        min-height: 49px;
        font-size: 10px;
        font-weight: 500;
        color: #8c8c8c;
        padding: 0 2px;
        margin: 0;
    text-align: center;
    border-radius: 0;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    ion-icon{
        margin-top: 4px;
        margin-bottom: 1px;
        min-width: 35px;
        height: 30px;
        font-size: 30px;
        color: #8c8c8c;
        display: block;
        overflow: hidden;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        min-width: 26px;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    span{
        margin-top: 0;
    margin-bottom: 1px;
    min-height: 11px;
    display: block;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 26px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    &.active{
        color:#22c4b9;
        ion-icon{
            color:#22c4b9;
        }
    }
    }
}
}
