page-uploaded {
    .middle {
        width:  100%;
        float:  left;

.city_name{
        font-size: 14px;
        margin: 10px 0px;
        width: 100%;
        float: left;
        padding-left: 8px;
        text-transform: uppercase;
        color: #22c4b9;
}

    .half{
        width: 33%;
        float: left;
        position: relative;
        height: 80px;
        overflow: hidden;
        margin-bottom: 1px;
        margin-right: 1px;
    
    img {
        position:  absolute;
        top: 0;
        right:  0;
        left:  0;
        bottom:  0;
        margin:  auto;
        height: 100%;
        width: 100%;
    }
}

}
}
